# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.
.vscode

# Compiled output
angular-frontend/dist
angular-frontend/tmp
angular-frontend/out-tsc
angular-frontend/bazel-out

# Node
angular-frontend/node_modules
angular-frontend/npm-debug.log
angular-frontend/yarn-error.log

# IDEs and editors
angular-frontend/.idea/
angular-frontend/.project
angular-frontend/.classpath
angular-frontend/.c9/
angular-frontend/*.launch
angular-frontend/.settings/
angular-frontend/*.sublime-workspace

# Visual Studio Code
angular-frontend/.vscode/*
!angular-frontend/.vscode/settings.json
!angular-frontend/.vscode/tasks.json
!angular-frontend/.vscode/launch.json
!angular-frontend/.vscode/extensions.json
angular-frontend/.history/*

# Miscellaneous
angular-frontend/.angular/*
angular-frontend/.angular/cache
angular-frontend/.sass-cache/
angular-frontend/connect.lock
angular-frontend/coverage
angular-frontend/libpeerconnection.log
angular-frontend/testem.log
angular-frontend/typings

# System files
angular-frontend/.DS_Store
angular-frontend/Thumbs.db

# Everything from the electron .gitignore 
# Logs
electron/logs
electron/*.log
electron/npm-debug.log*
electron/yarn-debug.log*
electron/yarn-error.log*
electron/lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
electron/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
electron/pids
electron/*.pid
electron/*.seed
electron/*.pid.lock
electron/.DS_Store

# Directory for instrumented libs generated by jscoverage/JSCover
electron/lib-cov

# Coverage directory used by tools like istanbul
electron/coverage
electron/*.lcov

# nyc test coverage
electron/.nyc_output

# node-waf configuration
electron/.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
electron/build/Release

# Dependency directories
electron/node_modules/
electron/jspm_packages/

# TypeScript v1 declaration files
electron/typings/

# TypeScript cache
electron/*.tsbuildinfo

# Optional npm cache directory
electron/.npm

# Optional eslint cache
electron/.eslintcache

# Optional REPL history
electron/.node_repl_history

# Output of 'npm pack'
electron/*.tgz

# Yarn Integrity file
electron/.yarn-integrity

# dotenv environment variables file
electron/.env
electron/.env.test

# parcel-bundler cache (https://parceljs.org/)
electron/.cache

# next.js build output
electron/.next

# nuxt.js build output
electron/.nuxt

# vuepress build output
electron/.vuepress/dist

# Serverless directories
electron/.serverless/

# FuseBox cache
electron/.fusebox/

# DynamoDB Local files
electron/.dynamodb/

# Webpack
electron/.webpack/

# Vite
electron/.vite/

# Electron-Forge output
electron/out/
electron/dist/
electron/res/angular