name: Build-Windows-Binary

permissions:
  actions: read

on:
  push:
    branches:
      - '**'
    tags:
      - '**'
  pull_request:
    branches:
      - '**'
  workflow_dispatch:

env:
  NODE_VERSION: 20

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js & cache npm
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'npm'
          cache-dependency-path: |
            package-lock.json
            angular-frontend/package-lock.json
            electron/package-lock.json
          cache-key: ${{ runner.os }}-node-${{ env.NODE_VERSION }}-${{ hashFiles('package-lock.json') }}-v2

      - name: Install dependencies
        run: npm ci

      - name: Create version.json if missing
        if: ${{ hashFiles('electron/src/version.json') == '' }}
        run: |
          angularVersion=$(jq -r '.version' angular-frontend/package.json)
          electronVersion=$(jq -r '.version' electron/package.json)
          node -e "console.log(JSON.stringify({
            generatedAt: new Date().toISOString(),
            angularVersion: '$angularVersion',
            electronVersion: '$electronVersion'
          }))" > electron/src/version.json
          cat electron/src/version.json

      - name: Build project
        run: npm run build

      - name: Test Angular
        run: npm run test:angular:ci

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: OmnaiView-Windows-${{ github.sha }}
          path: |
            electron/out/make/squirrel.windows/x64/RELEASES
            electron/out/make/squirrel.windows/x64/*.nupkg
            electron/out/make/squirrel.windows/x64/*.exe
